/* INFORMATION ---------------------------------------------
Created by Jasmine Walker for use by NROTC Notre Dame
*/

/*
NOTRE DAME OFFICIAL COLORS:
Blue:           rgb(12,35,64)       / #0C2340
Gold:           rgb(201,151,0)      / #C99700
Metallic Gold:  rgb(174,143,64)     / #AE9142

Pantone460:     rgb(230,212,124)    / #F6E7A1 (light yellow)
Pantone378:     rgb(88,96,26)       / #465510 (dark forest green)
Pantone613:     rgb(179,153,0)      / #999623 (olive green)
PantoneBlack4:  rgb(49,37,28)       / #302205 (black)
Pantone1817:    rgb(101,50,51)      / #5F1709 (russet red)
Pantone7710:    rgb(0,165,181)      / #5AABBC (sky blue)

Pantone1805:    rgb(177,37,44)      / #AA272F (crimson red)
Pantone723:     rgb(179,105,33)     / #BA6F2E (mud orange)
Pantone128:     rgb(245,212,77)     / #F2D653 (sun yellow)
Pantone7519:    rgb(93,73,58)       / #5A412F (brown)
Pantone7406:    rgb(242,195,0)      / #FFCF01 (saturated yellow)
Pantone348:     rgb(10,132,61)      / #00843D (clover green)
Pantone7448:    rgb(75,55,75)       / #4A3651 (dark purple)
*/

html {background-color:#465510;}

body {margin:0px;padding:90px 30px 30px 30px;background-color:#465510;}

main {padding:10px;background-color:ivory;border-radius:10px;}

/* HUD ----------------------------------------------------------------- */

.HUD_main {
	position:fixed; height:60px; width:100%; left:0; top:0; 
	transform: translate(0%,-100%);
	box-shadow:none;
	transition: transform .2s,  box-shadow 0s linear .2s;
}
.HUD_main.visible  {
	transform: translate(0%,0%);
	box-shadow: 0px 3px 10px #000000;
	transition: transform .2s;
}

.HUD_background {position:absolute; width:100%; height:100%; background-color: #00843D ;}

.HUD_dropdown { 
	display:inline-flex;
	position:absolute; top:100%; width:100%;
	transform: translate(0%,-100%);
	box-shadow:none;
	transition: transform .3s,  box-shadow 0s linear .3s;
}
.HUD_dropdown.visible{
	transform: translate(0%,0%);
	box-shadow: 0px 3px 10px #000000;
	transition: transform .3s;
}

/**/

.HUD_DE {position:relative;flex-grow:1;}

.HUD_DE_main {text-align:center; background-color:#F6E7A1; padding:5px;}
.HUD_DE_main a {display:block; padding:5px;
	text-align:center; text-decoration: none;
	font-size: 18px; color:#0C2340; font-weight:bold;
	border-radius:10px;
	transition:background .3s;}
.HUD_DE_main a:hover {background-color:#999623;}

.HUD_DE_dropdown {position:absolute; display:inline-flex; flex-wrap:wrap; flex-direction: column;
	top:100%; z-index: -1; left:5%; width:90%; 
	transform:translate(0,-100%);
	transition:transform .3s, box-shadow 0s linear .3s;
	background-color:#F6E7A1;}

.HUD_DE_dropdown.visible {
	transform:translate(0,0); box-shadow: 0px 3px 10px #000000;
	transition:transform .3s;}

.HUD_DE2 {padding:3px;flex-grow:1;}
.HUD_DE2 a {display:block; padding:3px;
	text-align:center; text-decoration:none;
	font-size: 16px; color:#0C2340;
	border-radius:10px;
	transition: background .3s;}
.HUD_DE2 a:hover {background-color:#999623;}
/**/

.HUD_home_btn,.HUD_nav_btn {
	display:inline-block;
	position:absolute; height:90%;
	top:50%; transform: translate(0,-50%);
	transition: background .3s;
	border-radius:10px;
}
.HUD_home_btn img, .HUD_nav_btn img {height:100%; width:auto;}

.HUD_home_btn {left:5px;}
.HUD_nav_btn  {right:5px;}

.HUD_home_btn:hover, .HUD_nav_btn:hover {background-color:#465510; }

/* Main Default ------------------------------------------------------------- */

h1 {text-align: center; margin:0px; margin-bottom:10px; font-family: monospace;}
main .default {display:table; width:100%; box-sizing:border-box;
	margin-bottom:10px; padding:20px;
	background-color:#F6E7A1; border-radius: 10px;
}

.default figure {
	margin:0px;margin-left:10px; background-color:ivory; padding:10px;border-radius: 10px;
	width:570px; float:right; box-sizing:border-box;}

.default figure img {border-radius: 10px;}

@media screen and (max-width:768px) { 
	.default figure{float:none; display:inline-block; margin:0px; width:100%;max-width: 570px;} 
	.default {text-align: center;}
}

.default figure figcaption {text-align:center; font-family:monospace; font-size:16px; font-weight: bold;}
.default figure img {width:100%;}
.default h2 {font-family: monospace; border-bottom: 1px solid #C99700;}
h1, .default h2, .default p, .default figure figcaption {color:#0C2340;}



/* Footer ------------------------------------------------------------------- */

.footer_main {padding:10px 30px 10px 30px;text-align:center;}
.footer_main div {border-top: 1px solid #AE9142; color:#AE9142; font-size:12px;}
