<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/static/css/slider.css"> <!-- carousel style -->
    <link rel="stylesheet" href="/static/css/nav.css"> <!-- navbar style -->
	<script src="/static/js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>NROTC Notre Dame</title>
</head>
<body>
	<header class="navbar-header" style="position:fixed;">
		<div class="navbar-logo"><a href="#0"><img src="/static/icons/icon-web-size.png" alt="Logo"></a></div>

		<nav>
			<ul class="navbar-secondary-nav">
                <li><a href="#0">Log In</a></li>
			</ul>
		</nav> <!-- navbar-nav -->

		<a class="navbar-primary-nav-trigger" href="#0">
			<span class="navbar-menu-text">Menu</span><span class="navbar-menu-icon"></span>
		</a> <!-- navbar-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="navbar-primary-nav">
			<li class="navbar-label">About us</li>

			<li><a href="#0">Who We Are</a></li>
			<li><a href="#0">Unit Staff</a></li>
			<li><a href="#0">History</a></li>
            <li><a href="#0">Contact Us</a></li>
            
            <li class="navbar-label">NLW</li>
            
            <li><a href="#0">What is NLW</a></li>
            <li><a href="#0">Registration</a></li>
            <li><a href="#0">Online Payment</a></a></li>
            <li><a href="#0">FAQs</a></a></li>
            <li><a href="#0">Previous Highlights</a></a></li>

            <li class="navbar-label">Prospective Students</li>
            
            <li><a href="#0">Application Process</a></li>
            <li><a href="#0">O-Week</a></li>
            <li><a href="#0">Life at College</a></li>
            <li><a href="#0">Naval Science Curriculum</a></li>
            <li><a href="#0">Summer Training</a></li>
            <li><a href="#0">Commissioning &amp; Careers</a></li>
            
            <li class="navbar-label">Activities</li>
            
            <li><a href="#0">Grogan Society</a></li>
            <li><a href="#0">Trident Naval Society</a></li>
            <li><a href="#0">Irish Pennant</a></li>

            <li class="navbar-label">Alumni</li>
            
            <li><a href="https://www.facebook.com/NDROTCAlumni/">Alumni Facebook Community</a></li>
            <li><a href="https://www.linkedin.com/groups/8489078/profile">Alumni Linkedin Group</a></li>
            
            <li class="navbar-label">Current Students</li>
            
            <li><a href="#0">Log in</a></li>

			<li class="navbar-label">Follow us</li>
			
			<li><a href="https://www.facebook.com/NDNROTC/">NROTC Notre Dame Facebook Page</a></li>
		</ul>
	</nav>

	<section class="carousel-hero">
		<ul class="carousel-hero-slider autoplay">
			<li class="selected">
				<div class="carousel-full-width">
					<h2>Hero slider</h2>
					<p>A simple, responsive slideshow in CSS &amp; jQuery.</p>
					<a href="http://codyhouse.co/?p=675" class="carousel-btn">Article &amp; Download</a>
				</div> <!-- .carousel-full-width -->
			</li>

			<li>
				<div class="carousel-half-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
					<a href="#0" class="carousel-btn">Start</a>
					<a href="#0" class="carousel-btn secondary">Learn More</a>
				</div> <!-- .carousel-half-width -->

				<div class="carousel-half-width carousel-img-container">
					<img src="/static/assets/tech-1.jpg" alt="tech 1">
				</div> <!-- .carousel-half-width.carousel-img-container -->
			</li>

			<li>
				<div class="carousel-half-width carousel-img-container">
					<img src="/static/assets/tech-2.jpg" alt="tech 2">
				</div> <!-- .carousel-half-width.carousel-img-container -->

				<div class="carousel-half-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
					<a href="#0" class="carousel-btn">Start</a>
					<a href="#0" class="carousel-btn secondary">Learn More</a>
				</div> <!-- .carousel-half-width -->
				
			</li>
			<li>
				<div class="carousel-full-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
					<a href="#0" class="carousel-btn">Start</a>
					<a href="#0" class="carousel-btn secondary">Learn More</a>
				</div> <!-- .carousel-full-width -->
			</li>
		</ul> <!-- .carousel-hero-slider -->


	</section> <!-- .carousel-hero -->

	<main class="carousel-main-content">

	</main> <!-- .carousel-main-content -->
	
<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/slider-main.js"></script> <!-- Resource jQuery -->
<script src="/static/js/nav-main.js"></script> <!-- Resource jQuery -->
</body>
</html>