{% extends "base.html" %}
{% block title %}Home{% endblock %}




{% block content %}
    <script>
//this is where we apply opacity to the arrow
$(window).scroll( function(){

  //get scroll position
  var topWindow = $(window).scrollTop();
  //multipl by 1.5 so the arrow will become transparent half-way up the page
  var topWindow = topWindow * 1.5;
  
  //get height of window
  var windowHeight = $(window).height();
      
  //set position as percentage of how far the user has scrolled 
  var position = topWindow / windowHeight;
  //invert the percentage
  position = 1 - position;

  //define arrow opacity as based on how far up the page the user has scrolled
  //no scrolling = 1, half-way up the page = 0
  $('.arrow-wrap').css('opacity', position);

});






//Code stolen from css-tricks for smooth scrolling:
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
    </script>
	<section class="carousel-hero">
		<ul class="carousel-hero-slider autoplay">
			<li class="selected">
				<div class="carousel-full-width">
					<h2></h2>
					<p>A simple, responsive slideshow in CSS &amp; jQuery.</p>
					<a href="http://codyhouse.co/?p=675" class="carousel-btn">Article &amp; Download</a>
				</div> <!-- .carousel-full-width -->
			</li>

			<li>
				<div class="carousel-half-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
					<a href="#0" class="carousel-btn">Start</a>
					<a href="#0" class="carousel-btn secondary">Learn More</a>
				</div> <!-- .carousel-half-width -->

				<div class="carousel-half-width carousel-img-container">
					<img src="/static/assets/tech-1.jpg" alt="tech 1">
				</div> <!-- .carousel-half-width.carousel-img-container -->
			</li>

			<li>
				<div class="carousel-half-width carousel-img-container">
					<img src="/static/assets/tech-2.jpg" alt="tech 2">
				</div> <!-- .carousel-half-width.carousel-img-container -->

				<div class="carousel-half-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
					<a href="#0" class="carousel-btn">Start</a>
					<a href="#0" class="carousel-btn secondary">Learn More</a>
				</div> <!-- .carousel-half-width -->
				
			</li>
			<li>
				<div class="carousel-full-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
					<a href="#0" class="carousel-btn">Start</a>
					<a href="#0" class="carousel-btn secondary">Learn More</a>
				</div> <!-- .carousel-full-width -->
			</li>
		</ul> <!-- .carousel-hero-slider -->
	</section> <!-- .carousel-hero -->

    <section style="position:relative;">
        <a class="arrow-wrap" href="#content">
            <span class="arrow"></span>
        </a>
    </section>

    <a name="content"></a>
	<main class="carousel-main-content">
        <p>Welcome to the homepage of the Naval Reserve Officers Training Corps (NROTC) at the University of Notre Dame. The mission of the NROTC program is to develop and train midshipmen in preparation for careers as Navy and Marine Corps officers. We focus on academics, leadership, physical fitness, and community involvement in order to provide students with the necessary skills to become leaders of this great country.</p>

        <p>This website provides information on how to pursue a career as a Naval officer through the NROTC program and specific information on the battalion of midshipmen here at the University of Notre Dame.</p>
	</main> <!-- .carousel-main-content -->


{% endblock %}