{% extends "base.html" %}
{% block title %}Unit Staff{% endblock %}




{% block content %}
<div style="height: 80px;"></div>
	<main class="carousel-main-content">
<h2>COMMANDING OFFICER</h2>

<div class="post">
<table align="left" border="0" cellpadding="0" cellspacing="0" style="padding-right: 7px; padding-bottom: 7px;">
	<tbody>
		<tr>
			<td align="center"><img class="left" src="static/images/unit-staff/carter.jpg" style="width: 300px; height: 418px;" /></td>
		</tr>
		<tr>
			<td align="center"><b>CAPTAIN JOHN P CARTER, USN</b></td>
		</tr>
	</tbody>
</table>

<p style="margin: 0px; text-align: justify; font-size: 12px; font-family: 'Times New Roman'; -webkit-text-stroke-color: rgb(0, 0, 0); -webkit-text-stroke-width: initial;">&nbsp;</p>

<p>Captain Carter&rsquo;s operational assignments include Commander of Submarine Squadron 16, responsible for the operational readiness of the Atlantic based SSGN guided missile submarine fleet and the SSBN ballistic missile submarines undergoing engineering refueling overhaul in Norfolk, VA.&nbsp; He commanded the SSBN USS NEBRASKA (BLUE) &ndash; &lsquo;Big Red&rsquo; - home ported in Bangor, Washington from 2004 through 2007. He served as executive officer on USS JACKSONVILLE home ported in Norfolk, VA from 2000 to 2001.&nbsp; He completed his weapons and engineering officer department head assignment on USS KENTUCKY (BLUE) home ported in Kings Bay, Georgia from 1994 to 1997.&nbsp; In summer of 1988 he reported aboard USS PASADENA during new construction in Groton, Connecticut following nuclear power training.&nbsp; He has deployed experience in the Mediterranean, Atlantic and Pacific theaters of operation.</span></p>

<p>Captain Carter&rsquo;s assignments ashore include Chief of Staff of Combined Maritime Forces under Commander, U.S. Naval Forces Central Command and Commander, Fifth Fleet in Bahrain, Director of Strategic Forces for Commander Task Force 144, Senior Board Member of the Atlantic nuclear propulsion examining board (NPEB) for Commander Fleet Forces Command, and Deputy of Operations at the Defense Liaison Division on the staff of the Chief of Naval Operations.&nbsp;</p>

<p>Captain Carter holds Master of Science in Physics (&rsquo;94) and Systems Analysis (&rsquo;11) from the Naval Postgraduate School and a Master in Engineering Management (&rsquo;07) from Old Dominion University. He graduated from Carnegie Mellon University in 1986 with a Bachelor of Science in Physics and Mathematics and received his naval commission from Officer Candidate School in Newport, Rhode Island in 1987.</p>

<p>His personal awards include the Defense Superior Service Medal, Legion of Merit, and Meritorious Service Medal.&nbsp; His unit awards include the Joint Meritorious Unit Award and the Meritorious Unit Commendation.</p>
</div>

<h2>EXECUTIVE OFFICER</h2>

<div class="post">
<table align="left" border="0" cellpadding="0" cellspacing="0" style="padding-right: 7px; padding-bottom: 7px;">
	<tbody>
		<tr>
			<td align="center"><img class="left" src="static/images/unit-staff/landau.jpg" style="width: 275px; height: 385px;" /></td>
		</tr>
		<tr>
			<td><b>COMMANDER FREDERICK LANDAU, USN&nbsp;</b></td>
		</tr>
	</tbody>
</table>

<p>Commander Frederick Landau&nbsp;is currently serving as the Executive Officer and the Associate Professor of Naval Science at the Naval Reserve Officers Training Corps Unit at the University of Notre Dame.</p>

<p>A native of Philadelphia, Pennsylvania, Commander Landau graduated from The Pennsylvania State University in 1991 with a Bachelors of Arts degree in History and from The University of Massachusetts, Amherst in 2009 with a Masters of Business Administration. He received his commission as an Ensign through the Naval ROTC program and was designated a Naval Aviator in September 1994 in Kingsville, Texas.&nbsp; Following initial training in the FA-18C Hornet with the &ldquo;Sharpshooters&rdquo; of Marine Strike Fighter Training Squadron ONE ZERO ONE (VMFAT-101), he reported to the &ldquo;Gunslingers&rdquo; Strike Fighter Squadron ONE ZERO FIVE (VFA-105) at NAS Cecil Field, Florida. While assigned to VFA-105 he deployed to the Arabian Gulf in support of Operations SOUTHERN WATCH and DESERT FOX as part of the USS THEODORE ROOSEVELT (CVN 71) and USS ENTERPRISE (CVN 65) Carrier Battle Groups.<br />
<br />
Commander Landau&rsquo;s subsequent flying tours included assignments to Strike Fighter Squadron ONE TWO TWO (VFA-122), a Fleet Readiness Squadron, as one of the initial cadre of Super Hornet Instructor Pilots and to Strike Fighter Squadron EIGHT ONE (VFA-81), the &ldquo;Sunliners&rdquo;, as a department head.&nbsp; It was during this tour that he participated in Operations ENDURING FREEDOM and IRAQI FREEDOM while embarked in USS GEORGE WASHINGTON (CVN 73) and USS JOHN F. KENNEDY (CV 67).</p>

<p>Commander Landau&rsquo;s staff assignments include Maritime Strike Air Operations Officer with Striking and Support Forces NATO in Naples, Italy, and Deputy Future Operations Officer while assigned to Commander, U.S. Pacific Fleet.&nbsp; While assigned to Pacific Fleet he deployed to Japan in support of Operation TOMODACHI.&nbsp;&nbsp; Additionally, he was assigned to USS GEORGE H. W. BUSH (CVN 77) as Air Operations Officer and deployed with Carrier Strike Group TWO to the Arabian Gulf in support of Operation ENDURING FREEDOM.&nbsp; CDR Landau joined the NROTC Unit, University of Notre Dame in August 2013 as Associate Professor of Naval Science and Executive Officer.</p>

<p>Commander Landau&rsquo;s awards include the Defense Meritorious Service Medal, Meritorious Service Medal (two awards), Air Medal (two strike/flight awards), Navy and Marine Corps Commendation Medal (four awards, two with combat V), Navy and Marine Corps Achievement Medal, and various campaign and service medals.&nbsp; He has flown over 2,500 hours and amassed over 600 carrier landings.</p>

<p>&nbsp;</p>
</div>

</main>
{% endblock %}
